@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
:root {
  --azul: #0b0ca6;
  --azul-claro: #5271ff;
  --azul-second: #3c5ffd;
  --white: #ffff;
  --dark: #;
}

body {
  color: var(--);
  background: var(--white);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background: blur;
  backdrop-filter: blur(40px);
  transition: all 0.5s;
  position: fixed;
}

.navigation .logo img {
  width: 300px;
  height: 120px;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navigation ul li a {
  color: var(--dark);
  font-size: 25px;
  font-weight: 500;
  transition: all 0.5s;
}

.navigation ul li a:hover {
  color: var(--azul-claro);
}

.navigation ul li button {
  color: var(--white);
  background: var(--azul);
  border-radius: 10px;
  padding: 8px 35px;
  font-size: 20px;
  cursor: pointer;
}

.navigation ul li button:hover {
  background: var(--azul-claro);
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  background: linear-gradient(white, #f0f0f0);
}

.home-text {
  max-width: 48rem;
}

.home-text .text-h1 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
  line-height: 4rem;
  color: var(--azul);
}

.home-text .text-p {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3rem;
}

.home-img #principal {
  width: 780px;
  height: 440px;
  border-radius: 20px;
}

.home-btn {
  cursor: pointer;
  padding: 12px 35px;
  background: var(--azul);
  color: var(--white);
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
  transition: all 0.5s;
  text-transform: uppercase;
}

.home-btn:hover {
  background: var(--azul-claro);
  color: var(--dark);
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  
}

.quantity {
  padding: 8px;
  width: 80px;
  text-align: center;
  border-radius: 15px;
  font-size: 18px;
}

button {
  padding: 8px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background-color: var(--azul);
  color: white;
}

input{
  
  width: 400px;
  padding: 5px;
  border-radius: 12px;
  border: 2.3px solid;
}

.nav-item img{
  width: 30px;
  height: 30px;
}

.nav-icone img{
  width: 50px;
}

.nav-icone{
  padding-left: 100px;
}
.search{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.home-img{
    max-width: 800px;
}
.thumbnails{
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
   
    gap: 10px;
}

.thumb img{
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

#imagem2 img{
  width: 266px;
}

.price-atual{
  font-family: 'Montserrat' , sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.price-last{
  font-family: 'Montserrat' , sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  text-decoration: line-through;
  color: #3b3b3b;
}



.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #0b0ca6;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #0b0ca6;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #0b0ca6;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #0b0ca6;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #0b0ca6;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}

#contato {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  background: #f0f0f0;
}

.insta {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.logo-insta {
  width: 35px;
  height: 32px;
}

.nome-insta {
  font-size: 28px;
  color: var(--dark);
}

.nome-insta:hover {
  color: var(--white);
}

.copy {
  font-size: 25px;
}
