@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap");

.finaliza {
  color: #fdfeff;
  font-family: Poppins;

  font-weight: bold;
  font-style: normal;
  line-height: normal;

  display: flex;

  flex-direction: column;
  align-items: center;
}

.imgLogo {
  width: 120px;
  height: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 100vh;
  background: linear-gradient(#000000, #04075b, #0b0ca6);
  color: white;
}

button {
  border-radius: 1000px;
  background-color: #d1d5fc;
  width: 100%;
  height: 40px;
  border-radius: 1000px;
}
