@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
:root {
  --azul: #0b0ca6;
  --azul-claro: #5271ff;
  --azul-second: #3c5ffd;
  --white: #ffff;
  --dark: #;
  font-size: 62.5%;
}

body {
  color: var(--);
  background: var(--white);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  box-shadow: 0 1.6px 8px #ccc;
  width: 100%;
  background: blur;
  backdrop-filter: blur(40px);
  transition: all 0.5s;
  position: fixed;
}

.navigation .logo img {
  width: 300px;
  height: 120px;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 80px;
}

.navigation ul li a {
  color: var(--dark);
  font-size: 2.5rem;
  font-weight: 500;
  transition: all 0.5s;
}

.navigation ul li a:hover {
  color: var(--azul-claro);
}

.navigation ul li button {
  color: var(--white);
  background: var(--azul);
  border-radius: 10px;
  padding: 8px 35px;
  font-size: 2rem;
  cursor: pointer;
}

.navigation ul li button:hover {
  background: var(--azul-claro);
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10%;
  background: linear-gradient(white, #f0f0f0);
}

.home-text {
  max-width: 76.8rem;
}

.home-text .text-h1 {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
  line-height: 6.4rem;
  color: var(--azul);
}

.home-text .text-p {
  font-size: 2.3rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 48px;
}

.home-img .principal {
  width: 800px;
  height: 600px;
}

.home-btn {
  cursor: pointer;
  padding: 15px 45px;
  background: var(--azul);
  color: var(--white);
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: 500;
  transition: all 0.5s;
  text-transform: uppercase;
}

.home-btn:hover {
  background: var(--azul-claro);
  color: var(--dark);
}

#sobre {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  background: linear-gradient(#f0f0f0, #5271ff, #3c5ffd);
}

.sobre-text {
  max-width: 80rem;
}

.sobre-text .text-h1 {
  font-size: 7rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 100px;
  line-height: 6.4rem;
  color: var(--dark);
}

.sobre-text .text-h3 {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 48px;
}

.sobre-img-area .img-sobre {
  margin-top: 100px;
  width: 850px;
  height: 650px;
}

#services {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px, 10%;
  background: linear-gradient(white, #f0f0f0);
}

.services-text {
  max-width: 112rem;
  padding-left: 300px;
}

.services-text .text-h1 {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 100px;
  line-height: 6.4rem;
  color: var(--dark);
}

.services-text .text-h3 {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 48px;
}

.services-img .img-services {
  margin-right: 250px;
  width: 720px;
  height: 780px;
}

#impactos {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  background: linear-gradient(#f0f0f0, #3c5ffd);
}

.impactos-text {
  max-width: 88rem;
}

.impactos-text .text-h1 {
  font-size: 5.6rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 64px;
  line-height: 4.8rem;
  color: var(--azul);
}

.impactos-text .text-p {
  font-size: 2.7rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 48px;
}

.impactos-img .img-impactos {
  margin: 200px;
  width: 714px;
  height: 684px;
}

#contato {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  background: #3c5ffd;
}

.insta {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.logo-insta {
  width: 35px;
  height: 32px;
}

.nome-insta {
  font-size: 2.8rem;
  color: var(--dark);
}

.nome-insta:hover {
  color: var(--white);
}

.copy {
  font-size: 2.5rem;
}

.menu-icon {
  display: none;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  color: var(--dark);
  position: absolute;
  top: 70px; 
  right: -50px; 
  z-index: 2; 
}

.menu-icon i {
  transition: color 0.3s;
}

.menu-icon:hover i {
  color: var(--azul-claro);
}



@media (max-width: 1623px) {
  :root{
    font-size: 56%;
  }
  .home {
    padding: 3% 8%;
  }
  .home-img .principal {
    width: 650px;
    height: 450px;
  }
  #sobre {
    padding: 0px 8%;
  }
  .sobre-img-area .img-sobre{
    width: 700px;
    height: 500px;
  }
  #services {
    padding: 0px, 8%;
  }
  .services-img .img-services {
    margin-right: 200px;
    width: 570px;
    height: 630px;
  }
  #impactos {
    padding: 0px 8%;
  }
  .impactos-img .img-impactos {
    margin: 190px 140px 190px 0;
    width: 564px;
    height: 534px;
  }
}
@media (max-width: 1385px) {
  :root{
    font-size: 53%;
  }
  .home {
    padding: 2% 7%;
  }
  .home-img .principal {
    width: 620px;
    height: 420px;
  }
  #sobre {
    padding: 0px 7%;
  }
  .sobre-img-area .img-sobre{
    width: 660px;
    height: 460px;
  }
  #services {
    padding: 0px, 6%;
  }
  .services-img .img-services {
    margin-right: 90px;
    width: 510px;
    height: 570px;
  }
  #impactos {
    padding: 0px 8%;
  }
}
@media (max-width: 1173px) {
  :root{
    font-size: 51%;
  }
  .home {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  #sobre {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  #services {
    width: 100%;
    flex-direction: column;
  }
  .services-text {
    padding: 100px 0 0 50px ;
  }
  #impactos {
    flex-direction: column-reverse;
    justify-content: flex-start
  }
  
  .impactos-img .img-impactos {
    margin: 0;
    width: 564px;
    height: 534px;
  }
}
@media (max-width: 768px) {
  .home-img .principal {
    margin-top: 120px;
    width: 500px;
    height: 300px;
  }
  
  .navigation {
    padding: 8px 20px;
  }
  .home {
    width: 100%;
    flex-direction: column;
  }
  #sobre {
    height: 120vh;
  }
  #impactos{
    height: 120vh;
  }
  .menu-icon {
    display: block;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 20px; 
  }

  .navigation .logo img {
    margin-bottom: 20px;
  }

  .navigation ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 0;
}


  .navigation ul.show {
    display: flex;
    z-index: 1;
  }

  .navigation ul li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .menu-icon {
    right: 20px;
  }

  .menu-icon i {
    border: 2px solid rgb(148, 148, 148);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}


}
@media (max-width: 412px) {
  :root{
    font-size: 44%;
  }
  .home {
    height: 120vh;
  }
  .home-img .principal {
    width: 590px;
    height: 390px;
  }
  #sobre {
    margin-top: 200px;
    height: 140vh;
  }
  #impactos {
    height: 160vh;
  }
  .sobre-img-area .img-sobre{
    width: 480px;
    height: 380px;
  }
  .services-img .img-services {
    margin: 0;
    width: 460px;
    height: 520px;
  }
  .impactos-img .img-impactos {
    width: 460px;
    height: 430px;
  }
  .navigation .logo img {
  width: 230px;
  height: 100px;
}
  .menu-icon {
    display: block;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 20px;
  }

  .navigation .logo img {
    margin-bottom: 20px;
  }

  .navigation ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 0;
}


  .navigation ul.show {
    display: flex;
    z-index: 1;
  }

  .navigation ul li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .menu-icon i {
    border: 2px solid rgb(148, 148, 148);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}
}
